/* VirtualKeyboard.css */
.virtual-keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 71.5%;
    background-color: #D9DDE0;
    background-color: #535157;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 5px;
  }
  